body{
    background-image: linear-gradient(to bottom right,#80ffff,#99ccff,#9999ff,#cc99ff,#ff66d9,#ff3385, #e600e6,#990099,#4d004d,#000000
    );
    height: 1100px;
}
#jtron{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 150%
}
#local{
    border: solid,black,5px;
    margin-left: 20%;
    margin-right: 20%;
    

}
button{float: right;
margin-bottom:5% }

#header{
    text-align: center;
    font-size: 200%;
}